* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2b2b2b;
}
h3 {
  font-weight: bold;
}
.forecast {
  font-size: 0.9em;
}
span {
  font-size: 1em;
}
li:hover {
  background-color: #bdc3c7;
  text-decoration: underline;
}

.bg-primary {
  background-color: #2ecc71 !important;
}

.btn-primary {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  margin-bottom: 10px;
}

button.bg-primary:hover {
  background-color: #27ae60 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #27ae60 !important;
  border-color: #27ae60 !important;
}

.bg-danger {
  background-color: #e74c3c !important;
}

.list-group {
  margin-bottom: 10px;
}

.credit {
  text-align: center;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .list-group {
    padding-left: 15px !important;
  }
}
